
{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
   Hey {{ name }} - {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

{% if name %}
  <h2>Hello {{ name }}
{% else %}
  <h2>What's your Name?</h2>
  <br/>

  <form method="POST">
	{{ form.hidden_tag() }}

	{{ form.name.label(class="form-label") }}
	{{ form.name(class="form-control") }}
	<br/>
	{{ form.submit(class="btn btn-secondary btn-lg") }}


{% endif %}


{% endblock %}


